* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    background: #00707f;
    overflow: hidden;
    text-align: center;
}

.title h3 {
    color: #ffffff;
    font-size: 20pt;
    line-height: 30pt;
    opacity: 0.91;

}

.choose {
    width: 100%;
    height: 87%;
    margin: auto;
    font-size: 20pt;
    line-height: 30pt;
    background: #ebf8f9;
    position: fixed;
}

.button-choose {
    margin: auto;
    width: 60%;
}

.bigButton {
    width: 80%;
    height: 200px;
    margin-top: 10px;
}

.jiang {
    background: #00a2ae;

}

.jiangcolor {
    color: #ffffff;
    opacity: 0.91;
}

.ting {
    background: #3db8c1;
}

.tingcolor {
    color: #000000;
    opacity: 0.75;
}




